<h5>Hi <%= @recipient %>,</h5>
<h3>You were tagged by <%= @tagged_by %> in a <%= @content %> of <% if @content=="comment" %>Post <% end %>titled "<%= @post.title %>".</h3>
<% if @content=="comment" %><%= @comment %><% end %>
<h6>Regards</h6>
<h5>Insti Webops Team</h5>
