<p>Hi <%= @recipient %>,</p>
<p>You were tagged by <%= @tagged_by %> in a <%= @content %> of <% if @content=="comment" %>Post <% end %>titled "<%= @post.title %>".</p>
<% if @content=="comment" %><div style="padding:10px;background:#737373;color:#fff;"><%= @comment %></div><% end %>
<p>Regards</p>
<p>Insti Webops Team</p>
