<div class="sec_pro_container">
	<div class="post_div">
		<div class="bold"><%= @tag.name.capitalize %></div>
		<div class="profile_pic float_left">
			<%= image_tag(@picture,size:"267x150",alt:@tag.name.capitalize + " Profile pic") %>
			
		</div>
		<div class="profile_details float_left">
		<strong>Name</strong>   : <%= @user.fullname %><br>
		<strong>Nick</strong>   : <%= @user.nick %><br>
		<strong>Roll</strong>   : <%= @user.username %><br>
		<strong>Room</strong>   : <%= @user.room %><br>
		<strong>Hostel</strong> : <%= @user.hostel %><br>
		<strong>Email</strong>  : <%= @user.email %><br>
		<strong>Phone</strong>  : <%= @user.contact %><br><br>
		</div>
	</div>
</div>
