<div class="sec_pro_container col-md-12">
		<div class="profile_pic float_left">
			<%= image_tag(@sec.picaddress,size:"267x150",alt:@tag.name.capitalize + " Profile pic") %>
			
		</div>
		<div class="profile_details float_left">
		<div class="bold"><%= @tag.name%></div>
		<%= @sec.fullname %><br>
		<%= @sec.username %><br>
		#<%= @sec.room %>  <%= @sec.hostel %><br>
		<%= @sec.contact %> | <%= @sec.email %><br>
		</div>
</div>
