<% content_for :title do%>
  Home
<% end %>

<% if signed_in? %>

  	<%= render "shared/sidebar" %>
  	<%= render "shared/right_sidebar" %>
<div class="post_main_container col-md-8 col-xs-12">
<div class="off_menu"> <span class="fui-list"></span>Menu</div>
	<% @posts.each do |post| %>
  		<%= render post %>
	<% end %>

	<% if @posts.length>10 %>
    	<%= render 'shared/loadmore' %>
	<% end %>
</div>
<% else %>

  	<%= render 'shared/unsigned' %>

<% end %>
