<div class="post_div <%=post.id%>"> 
<% user = User.find(post.user_id)%>
    <%= link_to "<div class='post_title'>#{post.title.capitalize}</div>".html_safe, post_path(id: post.id) %>
  <div class="details_container medium_font">
    <span class="float_left profile_pic"><%= image_tag(""+(user.picaddress || 'user-default-blue.png')+"", size:"35x35", alt:user.username) %></span><span class="float_left"> 
        <% @tags = Post.includes(:tags).find(post.id).tags %>
  <% @tags.each do |tag| %>
      <%= link_to tag.name, display_path(id:tag.id), class:"" %>
  <% end %> <br> 
        <%= user.username %> | <%= user.fullname.capitalize %></span><span class="float_right"><br> <%= (post.created_at+330.minutes).strftime("%d-%m-%y   %l:%M %p") %></span>
    </div>
  <br><hr>
  <div class="post_content">
    <div class="truncated_content"><%= raw HTML_Truncator.truncate(post.content, 50, :ellipsis => '...<a class="expand_content">more</a>') %></div>
    <div class="expanded_content"><%= raw post.content %></div>
  </div>
<hr>
    <div class="options_container">
      <% if signed_in? && (current_user.usertype && current_user?(user))%>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span> Delete Article".html_safe, post, method: :delete, class:"delete_btn btn btn-xs", data: { confirm: "Are you sure you want to delete this article?"}, remote: true %>
    <% end %>
    </div>
  </span>
  <% if current_user.id!=post.user_id %>
  <div class="<%=post.id%> follow_unfollow_container">
    <% if post.following?(current_user).length==0 %>
      <%= render partial: 'shared/follow', locals: { post: post } %>
  <% else %>
      <%= render partial: 'shared/unfollow', locals: { post: post } %>
  <% end %>
  </div>
<%end%>



<% if current_user.id!=post.user_id %>
  <div class="<%=post.id%> like_unlike_container">
    <% if post.liking?(current_user).length==0 %>
      <%= render partial: 'shared/like', locals: { post: post } %>
  <% else %>
      <%= render partial: 'shared/unlike', locals: { post: post } %>
  <% end %>
 </div>
<%end%>





<span class="comment_toggle btn btn-xs btn-default"><span class="expand_comment">View Comments</span>&nbsp(<%=Comment.where("post_id=?",post.id).length%>)</span>
  <br><br>

  <div class="comment_container">
    <ul class="<%=post.id%>">
      <% @comments = Comment.where("post_id = ?", post.id) %>
      <% if @comments.length==0 %>
        <div class="no_comment_div">No comments have been posted on this post yet.</div>
    <% end %>
      <% @comments.each do |comment| %>
        <%= render comment %>
    <% end %>
    </ul>

    <% if signed_in? %>
      <%= form_for(:comment, url: comments_path, method: 'post' , :html => { :class => "form-horizontal"}, remote: true) do |f|  %>
      <%= f.text_area :content, size: "60x3", class:"form-control", placeholder:"Add a comment" %>
    <%= hidden_field_tag(:post_id, "#{post.id}")%>
    <%= f.submit "Comment", class:"btn btn-primary" %>
  <% end %>

  <% end %>
  </div>
</div>
