<div class="post_div <%=post.id%>"> 
  <div class="post_title">
    <%= link_to post.title.capitalize, post_path(id: post.id) %>
  </div>
  <div class="details_container medium_font">
    <span><span class="glyphicon glyphicon-user"></span> 
        <% @tags = Post.includes(:tags).find(post.id).tags %>
  <% @tags.each do |tag| %>
      <%= link_to tag.name, display_path(id:tag.id), class:"" %>
  <% end %> | 
        <%= User.find(post.user_id).username %> | <%= User.find(post.user_id).fullname.capitalize %> | <span class="glyphicon glyphicon-time"></span> <%= (post.created_at+330.minutes).strftime("%d-%m-%y   %l:%M %p") %>
    </div>
  <hr>
  <div class="post_content">
    <%= raw post.content %>
  </div>
<hr>
    <% @rate = Rate.find_by("user_id=? AND post_id=?", current_user.id, post.id) %>
    <span>
      <span class="avg_rate float_left">Average rating : <%= post.avg_rate.round(2) %> <span class="small_font"> (<span class="glyphicon glyphicon-user"></span><%=Rate.where("post_id=?",post.id).length%>)</span> |&nbsp</span>
    <div class="rating_container <%=post.id%> float_left"> 
    <% if @rate %>
      <%= render partial: 'shared/existing_rate', locals: { rate: @rate, post: post} %>
  <% else %>
    <%= render partial: 'shared/new_rate', locals: { post: post } %>
  <% end %>
  </div>
  </span>
  <br>
    <div class="options_container">
      <% if signed_in? && (current_user.usertype && current_user?(User.find(post.user_id)))%>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span> Delete Article".html_safe, post, method: :delete, class:"delete_btn btn btn-xs", data: { confirm: "Are you sure you want to delete this article?"}, remote: true %>
    <% end %>
    </div>
  </span>
  <% if current_user.id!=post.user_id %>
  <div class="<%=post.id%> follow_unfollow_container">
    <% if post.following?(current_user).length==0 %>
      <%= render partial: 'shared/follow', locals: { post: post } %>
  <% else %>
      <%= render partial: 'shared/unfollow', locals: { post: post } %>
  <% end %>
  </div>
<%end%>
<span class="comment_toggle btn btn-xs btn-default"><span class="expand_comment">View Comments</span>&nbsp(<%=Comment.where("post_id=?",post.id).length%>)</span>
  <br><br>

  <div class="comment_container">
    <ul class="<%=post.id%>">
      <% @comments = Comment.where("post_id = ?", post.id) %>
      <% if @comments.length==0 %>
        <div class="no_comment_div">No comments have been posted on this post yet.</div>
    <% end %>
      <% @comments.each do |comment| %>
        <%= render comment %>
    <% end %>
    </ul>

    <% if signed_in? %>
      <%= form_for(:comment, url: comments_path, method: 'post' , :html => { :class => "form-horizontal"}, remote: true) do |f|  %>
      <%= f.text_area :content, size: "60x3", class:"form-control", placeholder:"Add a comment" %>
    <%= hidden_field_tag(:post_id, "#{post.id}")%>
    <%= f.submit "Comment", class:"btn btn-primary" %>
  <% end %>

  <% end %>
  </div>
</div>
