<%= content_for :title do %>
  New Article
<% end %>

<% if signed_in? && current_user.usertype %>
  <div class="new_post_form"><br>
  <h1 class="form_heading">New Article</h1></br></br>

  <div class="form_container">
    <div class="row">
      <div class="span6 offset3">
        <%= form_for(:post, url: posts_path, method: 'post' , :html => { :class => "form-horizontal"}) do |f| %>

          <%= f.label :title %><br>
        <%= f.text_field :title , class:"form-control" %><br><br>

        <p>Please note that the following text will be stored and displayed as HTML text. So if you want to break a line, use <br> <%= "your lines <br>" %> <br> and put your paragraphs as <br> <%= "<p> your content </p>" %><br>There are other advantages of HTML text though. You can use it to make your content more effective.</p>
        <%= f.label :content %><br>
        <%= f.text_area :content, size: "80x12"  , class:"form-control"%><br><br>
	<input id="post_tag_ids_" name="post[tag_ids][]" type="hidden" value="<%=current_user.usertype %>">
        <!--<%= f.label :files %><br>
        <%= f.file_field :file_link %><br><br>-->

        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        <br><br>
      <% end %>

      </div>
    </div>
  </div>
</div>

<% else %>
 <%= render 'shared/unsigned' %>
<% end %>
